body {
  max-width: 1920px;
}
.header-conteiner {
  padding-top: 37px;
  padding-left: 55px;
  padding-right: 55px;
  background: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
  );
}
.header-box {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #272d4e;
  }
}
.logo-link {
  display: block;
  margin: 0;
  padding: 0;
}
.navigation-box {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 144px;
  li:not(:first-child) {
    margin-left: 38px;
  }
}
.registration-box {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  li:not(:first-child) {
    margin-left: 38px;
  }
}
.get-started {
  width: 120px;
  height: 47px;
  background-color: #7854f7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
}
.title-box {
  padding-top: 90px;
  h1 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 1.12;
    color: #272d4e;
  }
  p {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.39;
    color: #94a2b3;
  }
}
.button-box {
  margin-top: 31px;
  input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    color: #ffffff;
    width: 267px;
    height: 72px;
    background: #7854f7;
    border: none;
    border-radius: 60px;
  }
  a {
    margin-left: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.39;
    color: #94a2b3;
    span {
      color: #299ef3;
      font-weight: bold;
    }
  }
}
//------------offers-section-----------------
.offers-section {
  padding-left: 55px;
  padding-right: 55px;
  h2 {
    margin: auto;
    padding: 0;
    width: 457px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 1.27;
    text-align: center;
    color: #272d4e;
  }
  img {
    width: 100%;
  }
  h3 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.94;
    color: #272d4e;
  }
  p {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #94a2b3;
  }
  a {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.39;
    color: #299ef3;
  }
}
.list-offers {
  margin: 0;
  padding: 0;
  height: 692px;
  display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
  list-style: none;
  li {
    // height: max-content;
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
      margin-left: 70px;
    }
  }
  &:nth-child(1) {
    align-items: flex-start;
  }
  &:nth-child(2) {
    align-items: center;
  }
  &:nth-child(3) {
    align-items: flex-end;
  }
}
